@import url('https://fonts.cdnfonts.com/css/pokemon-solid');

.container {
    display: flex;
    justify-content: center;
}

.pokedex-container {
    width: 400px;
    border: #000 solid 5px;
    background-color: #CC0000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-shadow: 1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    2px 2px 0 #000,
    -2px 2px 0 #000,
    2px -2px 0 #000,
    -2px -2px 0 #000,
    0px 2px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 0px 0 #000,
    1px 2px 0 #000,
    -1px 2px 0 #000,
    1px -2px 0 #000,
    -1px -2px 0 #000,
    2px 1px 0 #000,
    -2px 1px 0 #000,
    2px -1px 0 #000,
    -2px -1px 0 #000;
    font-family: 'Pokemon Solid', sans-serif;
    color: #FFDE00;
    font-size: 50px;
}

.pokedex-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    margin-bottom: 50px;
    width: 70%;
    border: #000 solid 10px;
    border-radius: 5px;
}

#pokemon-img {
    margin-top: 50px;
    height: 200px;
    width: 200px;
}

#pokemon-name {
    margin: 15px 0;
    font-size: 45px;
}

.description-container {
    margin-top: 30px;
    border-top: #000 5px solid;
    width: 100%;
}

.description {
    font-size: 20px;
    margin: 20px 10px;
    display: flex;
    justify-content: flex-start;
    column-gap: 10px;
}

.element-container {
    margin: 15px 0;
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    justify-content: space-between;
}

.element-chip {
    border: 5px 5px aliceblue solid;
    height: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
    width: 100px;
    border-radius: 20px;
    padding: 5px 10px;
}

.bug {
    background-color: #92BC2C;
}

.dark {
    background-color: #595761;
}

.dragon {
    background-color: #0c69c8;
}

.electric {
    background-color: #EDD53E;
}

.fairy {
    background-color: #ec8ce5;
}

.fighting {
    background-color: #ce4265;
}

.fire {
    background-color: #FB9B51;
}

.flying {
    background-color: #90a7da;
}

.ghost {
    background-color: #516aac;
}

.grass {
    background-color: #5FBC51;
}

.ground {
    background-color: #d38f5e;
}

.ice {
    background-color: #8cddd4;
}

.normal {
    background-color: #9298a4;
}

.poison {
    background-color: #A864C7;
}

.psychic {
    background-color: #f66f71;
}

.rock {
    background-color: #ccbd8c;
}

.steel {
    background-color: #52869d;
}

.water {
    background-color: #4a90dd;
}


.poke-elem-img {
    width: 20px;
    height: 20px;
}

.type-description {
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

button {
    margin-bottom: 20px;
    height: 50px;
    width: 180px;
    border-radius: 5px;
    font-size: 20px;
}

@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .loading-gif {
    margin: 150px 0;
    width: 30px;
    height: 30px;
    border: 10px solid #f3f3f3;
    border-top: 10px solid #383636;
    border-radius: 50%;
    animation: spinner 1.0s linear infinite;
  }